.test{
    color: #fee1c0;
    color: #f24b4b;
    color: #453b61;
    color: #1385f0;
    color: #ffbb31;
    color: #ed0f7e;
}


body{
    background-color: #453b61;
    color: #f24b4b;
    display: grid; 
    place-items: center;
    
}

h1{
    margin: 40px;
    text-align: center;
}


summary{
    font-size: x-large;
    margin: 10px;
}

th{
    width: 100px;
    height: 100px;
    background-color: #fee1c0;
    border-radius: 10px;
    font-size: xx-large;
    margin: 10px;
}


button{
    color:#453b61;
    background-color: #ffbb31;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.button-container{
    height: 60px;
    margin: 10px;
}

.box{
    background-color: #fee1c0;
    margin: 20px;
    border: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    display: grid; 
    place-items: center;
}